/* ==UserStyle==
@name           Gruvbox-GitHub
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Gruvbox Theme for GitHub
@author         yurimds10
==/UserStyle== */

@-moz-document url-prefix("https://github.com/"), url-prefix("https://gist.github.com"){
  :root {
    /*=== === === BASE COLORS === === ===*/
    --color-bg0: hsl(195, 6%, 12%) !important;
    --color-bg:  hsl(0, 0%, 16%)   !important;
    --color-bg1: #3b3735  !important;
    --color-bg2: hsl(22, 7%, 29%)  !important;
    --color-bg3: hsl(27, 10%, 36%) !important;

    --color-fg0: hsl(48, 87%, 88%) !important;
    --color-fg:  hsl(43, 59%, 81%) !important;
    --color-fg1: hsl(40, 38%, 73%) !important;
    --color-fg2: hsl(39, 24%, 66%) !important;
    --color-fg3: hsl(35, 17%, 59%) !important;

    --color-ansi-black:          var(--color-bg-default)  !important;
    --color-ansi-black-bright:   var(--color-bg2-default) !important;
    --color-ansi-white:          hsl(43, 59%, 81%)        !important;
    --color-ansi-white-bright:   hsl(43, 59%, 81%)        !important;
    --color-ansi-gray:           hsl(30, 12%, 51%)        !important;
    --color-ansi-red:            hsl(2, 75%, 46%)         !important;
    --color-ansi-red-bright:     hsl(6, 96%, 59%)         !important;
    --color-ansi-orange:         hsl(24, 88%, 45%)        !important;
    --color-ansi-orange-bright:  hsl(27, 99%, 55%)        !important;
    --color-ansi-yellow:         hsl(40, 73%, 49%)        !important;
    --color-ansi-yellow-bright:  hsl(42, 95%, 58%)        !important;
    --color-ansi-green:          hsl(60, 71%, 35%)        !important;
    --color-ansi-green-bright:   hsl(61, 66%, 44%)        !important;
    --color-ansi-cyan:           hsl(122, 21%, 51%)       !important;
    --color-ansi-cyan-bright:    hsl(104, 35%, 62%)       !important;
    --color-ansi-blue:           hsl(183, 33%, 40%)       !important;
    --color-ansi-blue-bright:    hsl(157, 16%, 58%)       !important;
    --color-ansi-magenta:        hsl(333, 34%, 54%)       !important;
    --color-ansi-magenta-bright: hsl(344, 47%, 68%)       !important;

    --color-accent:        var(--color-ansi-cyan)        !important;
    --color-accent-bright: var(--color-ansi-cyan-bright) !important;
    
    /*=== === === Background Colors === === ===*/
    --bgColor-default:            var(--color-bg0)              !important;
    --bgColor-muted:              var(--color-bg0)             !important;
    --bgColor-inset:              var(--color-bg1)             !important;
    --bgColor-emphasis:           var(--color-bg3)             !important;
    --bgColor-inverse:            var(--color-fg)              !important;
    --bgColor-white:              var(--color-fg)              !important;
    --bgColor-black:              var(--color-bg0)             !important;
    --bgColor-disabled:           var(--color-ansi-gray)       !important;
    --bgColor-transparent:        #00000000                  !important;
    --bgColor-neutral-muted:      var(--color-fg2)             !important;
    --bgColor-neutral-emphasis:   var(--color-ansi-gray)       !important;
    --bgColor-accent-muted:       #4184e41a                  !important;
    --bgColor-accent-emphasis:    var(--color-accent)          !important;
    --bgColor-success-muted:      #46954a26                  !important;
    --bgColor-success-emphasis:   var(--color-ansi-cyan)       !important;
    --bgColor-attention-muted:    #ae7c1426                  !important;
    --bgColor-attention-emphasis: var(--color-ansi-yellow)     !important;
    --bgColor-severe-muted:       #cc6b2c1a                  !important;
    --bgColor-severe-emphasis:    var(--color-ansi-orange)     !important;
    --bgColor-danger-muted:       #e5534b1a                  !important;
    --bgColor-danger-emphasis:    var(--color-ansi-red)        !important;
    --bgColor-open-muted:         var(--color-bg2-default)     !important;
    --bgColor-open-emphasis:      var(--color-ansi-blue)       !important;
    --bgColor-closed-muted:       var(--color-bg2)             !important;
    --bgColor-closed-emphasis:    var(--color-ansi-red-bright) !important;
    --bgColor-done-muted:         var(--color-bg2)             !important;
    --bgColor-done-emphasis:      var(--color-accent)          !important;
    --bgColor-upsell-muted:       var(--color-bg2)             !important;
    --bgColor-upsell-emphasis:    var(--color-accent)          !important;
    --bgColor-sponsors-muted:     #c961981a                  !important;
    --bgColor-sponsors-emphasis:  var(--color-ansi-magenta-bright) !important;
    
    /*=== === === Foreground Colors === === ===*/
    --fgColor-default:    var(--color-fg)              !important;
    --fgColor-muted:      var(--color-fg2)             !important;
    --fgColor-onEmphasis: var(--color-fg)              !important;
    --fgColor-white:      var(--color-fg)              !important;
    --fgColor-black:      var(--color-bg0)             !important;
    --fgColor-disabled:   var(--color-ansi-gray)       !important;
    --fgColor-link:       var(--color-ansi-cyan)       !important;
    --fgColor-neutral:    var(--color-ansi-gray)       !important;
    --fgColor-accent:     var(--color-accent)    !important;
    --fgColor-success:    var(--color-ansi-green)      !important;
    --fgColor-attention:  var(--color-ansi-yellow)     !important;
    --fgColor-severe:     var(--color-ansi-orange)     !important;
    --fgColor-danger:     var(--color-ansi-red)        !important;
    --fgColor-open:       var(--color-ansi-magenta)    !important;
    --fgColor-closed:     var(--color-ansi-red-bright) !important;
    --fgColor-done:       var(--color-ansi-ansi-blue)  !important;
    --fgColor-upsell:     var(--color-ansi-blue)       !important;
    --fgColor-sponsors:   var(--color-ansi-cyan)       !important;
    
    /*=== === === Avatar Colors === === ===*/
    --avatar-bgColor:                   hsla(39, 24%, 66%, 0.102)     !important;
    --avatar-borderColor:               hsla(39, 24%, 66%, 0.102)     !important;
    --avatar-shadow:                    -2px -2px 0 hsl(195, 6%, 12%) !important;
    --avatarStack-fade-bgColor-default: hsl(44, 10%, 37%)             !important;
    --avatarStack-fade-bgColor-muted:   hsl(45, 8%, 30%)              !important;
    
    /*=== === === Calendar Colors === === ===*/
    --color-calendar-halloween-graph-day-L1-bg: hsl(120, 21%, 27%) !important;
    --color-calendar-halloween-graph-day-L2-bg: hsl(122, 20%, 35%) !important;
    --color-calendar-halloween-graph-day-L3-bg: hsl(123, 21%, 43%) !important;
    --color-calendar-halloween-graph-day-L4-bg: hsl(122, 21%, 51%) !important;

    --color-calendar-winter-graph-day-L1-bg: hsl(122, 21%, 27%) !important;
    --color-calendar-winter-graph-day-L2-bg: hsl(122, 20%, 35%) !important;
    --color-calendar-winter-graph-day-L3-bg: hsl(123, 21%, 43%) !important;
    --color-calendar-winter-graph-day-L4-bg: hsl(122, 21%, 51%) !important;

    --color-calendar-graph-day-bg:        var(--color-bg0)     !important;
    --color-calendar-graph-day-border:    transparent          !important;
    --color-calendar-graph-day-L1-bg:     hsl(122, 21%, 27%) !important;
    --color-calendar-graph-day-L2-bg:     hsl(122, 20%, 35%) !important;
    --color-calendar-graph-day-L3-bg:     hsl(123, 21%, 43%) !important;
    --color-calendar-graph-day-L4-bg:     hsl(122, 21%, 51%) !important;
    --color-calendar-graph-day-L1-border: transparent          !important;
    --color-calendar-graph-day-L2-border: transparent          !important;
    --color-calendar-graph-day-L3-border: transparent          !important;
    --color-calendar-graph-day-L4-border: transparent          !important;
    
    /*=== === === Buttons Colors === === ===*/
    --button-default-fgColor-rest:         hsl(43, 37%, 74%)         !important;
    --button-default-bgColor-rest:         hsl(45, 8%, 30%)          !important;
    --button-default-bgColor-hover:        hsl(44, 10%, 37%)         !important;
    --button-default-bgColor-active:       hsl(22, 7%, 29%)          !important;
    --button-default-bgColor-selected:     hsl(43, 6%, 23%)          !important;
    --button-default-bgColor-disabled:     #373e47b3                 !important;
    --button-default-borderColor-rest:     var(--color-bg3)            !important;
    --button-default-borderColor-hover:    hsl(43, 18%, 59%)         !important;
    --button-default-borderColor-active:   hsl(44, 12%, 37%)         !important;
    --button-default-borderColor-disabled: hsla(216, 4%, 25%, 0.702) !important;
    --button-default-shadow-resting:       0px 0px 0px 0px #000000   !important;
    
    --button-primary-fgColor-rest:         var(--color-fg)             !important;
    --button-primary-fgColor-disabled:     hsla(39, 24%, 66%, 0.502) !important;
    --button-primary-iconColor-rest:       var(--color-fg)             !important;
    --button-primary-bgColor-rest:         hsl(61, 36%, 48%)         !important;
    --button-primary-bgColor-hover:        hsl(61, 43%, 50%) !important;
    --button-primary-bgColor-active:       hsl(61, 36%, 48%) !important;
    --button-primary-bgColor-disabled:     hsla(61, 36%, 48%, 0.6)   !important;
    --button-primary-borderColor-rest:     hsl(61, 36%, 48%)          !important;
    --button-primary-borderColor-hover:    hsla(39, 24%, 66%, 0.102) !important;
    --button-primary-borderColor-active:   hsla(39, 24%, 66%, 0.102)        !important;
    --button-primary-borderColor-disabled: hsla(39, 24%, 66%, 0.102) !important;
    --button-primary-shadow-selected:      0 0 transparent             !important;
  }
}
