/*========== GRUVBOX FOR GITHUB ==============*/
:root {
  /*==========BASE COLORS==========*/
  --color-bg0-default:                                     hsl(195, 6%, 12%)                !important;
  --color-bg-default:                                      hsl(0, 0%, 16%)                  !important;
  --color-bg1-default:                                     hsl(20, 5%, 22%)                 !important;
  --color-bg2-default:                                     hsl(22, 7%, 29%)                 !important;
  --color-bg3-default:                                     hsl(27, 10%, 36%)                !important;

  --color-fg0-default:                                     hsl(48, 87%, 88%)                !important;
  --color-fg-default:                                      hsl(43, 59%, 81%)                !important;
  --color-fg1-default:                                     hsl(40, 38%, 73%)                !important;
  --color-fg2-default:                                     hsl(39, 24%, 66%)                !important;
  --color-fg3-default:                                     hsl(35, 17%, 59%)                !important;

  --color-ansi-black:                                        var(--color-bg-default)          !important;
  --color-ansi-black-bright:                                 var(--color-bg2-default)         !important;
  --color-ansi-white:                                      hsl(43, 59%, 81%)                !important;
  --color-ansi-white-bright:                               hsl(43, 59%, 81%)                !important;
  --color-ansi-gray:                                       hsl(30, 12%, 51%)                !important;
  --color-ansi-red:                                        hsl(2, 75%, 46%)                 !important;
  --color-ansi-red-bright:                                 hsl(6, 96%, 59%)                 !important;
  --color-ansi-orange:                                     hsl(24, 88%, 45%)                !important;
  --color-ansi-orange-bright:                              hsl(27, 99%, 55%)                !important;
  --color-ansi-yellow:                                     hsl(40, 73%, 49%)                !important;
  --color-ansi-yellow-bright:                              hsl(42, 95%, 58%)                !important;
  --color-ansi-green:                                      hsl(60, 71%, 35%)                !important;
  --color-ansi-green-bright:                               hsl(61, 66%, 44%)                !important;
  --color-ansi-cyan:                                       hsl(122, 21%, 51%)               !important;
  --color-ansi-cyan-bright:                                hsl(104, 35%, 62%)               !important;
  --color-ansi-blue:                                       hsl(183, 33%, 40%)               !important;
  --color-ansi-blue-bright:                                hsl(157, 16%, 58%)               !important;
  --color-ansi-magenta:                                    hsl(333, 34%, 54%)               !important;
  --color-ansi-magenta-bright:                             hsl(344, 47%, 68%)               !important;

  --color-accent:                                            var(--color-ansi-magenta)        !important;
  --color-accent-bright:                                     var(--color-ansi-magenta-bright) !important;

  

  --avatar-bgColor:                                          var(--color-fg-default)     !important;
  --avatar-borderColor:                                      var(--color-accent-default) !important;
  --avatar-shadow:                                           0px 0px 0px 2px #22272e   !important;
  --avatarStack-fade-bgColor-default:                        var(--color-bg2-default)    !important;
  --avatarStack-fade-bgColor-muted:                          var(--color-bg1-default)    !important;

  --bgColor-default:                                         var(--color-bg-default) !important;
  --bgColor-muted:                                           var(--color-bg0-default) !important;
  --bgColor-inset:                                           var(--color-bg1-default) !important;
  --bgColor-emphasis:                                        var(--color-bg3-default) !important;
  --bgColor-inverse:                                         var(--color-fg-default) !important;
  --bgColor-white:                                           var(--color-fg-default) !important;
  --bgColor-black:                                           var(--color-bg0-default) !important;
  --bgColor-disabled:                                        var(--color-ansi-gray) !important;
  --bgColor-transparent:                                   #00000000;
  --bgColor-neutral-muted:                                   var(--color-fg2-default) !important;
  --bgColor-neutral-emphasis:                                var(--color-ansi-gray) !important;
  --bgColor-accent-muted:                                  #4184e41a;
  --bgColor-accent-emphasis:                                 var(--color-accent-default) !important;
  --bgColor-success-muted:                                 #46954a26;
  --bgColor-success-emphasis:                                var(--color-ansi-cyan) !important;
  --bgColor-attention-muted:                               #ae7c1426;
  --bgColor-attention-emphasis:                              var(--color-ansi-yellow) !important;
  --bgColor-severe-muted:                                  #cc6b2c1a;
  --bgColor-severe-emphasis:                                 var(--color-ansi-orange) !important;
  --bgColor-danger-muted:                                  #e5534b1a;
  --bgColor-danger-emphasis:                                 var(--color-ansi-red) !important;
  --bgColor-open-muted:                                      var(--color-bg2-default) !important;
  --bgColor-open-emphasis:                                   var(--color-ansi-blue) !important;
  --bgColor-closed-muted:                                    var(--color-bg2-default) !important;
  --bgColor-closed-emphasis:                                 var(--color-ansi-red-bright) !important;
  --bgColor-done-muted:                                      var(--color-bg2-default) !important;
  --bgColor-done-emphasis:                                   var(--color-accent-default) !important;
  --bgColor-upsell-muted:                                    var(--color-bg2-default) !important;
  --bgColor-upsell-emphasis:                                 var(--color-accent-default) !important;
  --bgColor-sponsors-muted:                                #c961981a;
  --bgColor-sponsors-emphasis:                               var(--color-ansi-magenta-bright) !important;

  --fgColor-default:                                         var(--color-fg-default) !important;
  --fgColor-muted:                                           var(--color-fg2-default) !important;
  --fgColor-onEmphasis:                                      var(--color-fg-default) !important;
  --fgColor-white:                                           var(--color-fg-default) !important;
  --fgColor-black:                                           var(--color-bg0-default) !important;
  --fgColor-disabled:                                        var(--color-gray-default) !important;
  --fgColor-link:                                            var(--color-magenta-default) !important;
  --fgColor-neutral:                                         var(--color-gray-default) !important;
  --fgColor-accent:                                          var(--color-magenta-default) !important;
  --fgColor-success:                                         var(--color-green-default) !important;
  --fgColor-attention:                                       var(--color-yellow-default) !important;
  --fgColor-severe:                                          var(--color-orange-default) !important;
  --fgColor-danger:                                          var(--color-red-default) !important;
  --fgColor-open:                                            var(--color-magenta-default) !important;
  --fgColor-closed:                                          var(--color-red-bright-default) !important;
  --fgColor-done:                                            var(--color-blue-default) !important;
  --fgColor-upsell:                                          var(--color-blue-default) !important;
  --fgColor-sponsors:                                        var(--color-cyan-default) !important;

  --borderColor-default:                                     var(--color-fg-default) !important;
  --borderColor-muted:                                     #444c56b3;
  --borderColor-emphasis:                                  #545d68;
  --borderColor-disabled:                                  #373e47b3;
  --borderColor-transparent:                               #00000000;
  --borderColor-neutral-muted:                             #636e7b66;
  --borderColor-neutral-emphasis:                          #636e7b;
  --borderColor-accent-muted:                              #4184e466;
  --borderColor-accent-emphasis:                             var(--color-accent-default) !important;
  --borderColor-success-muted:                             #46954a66;
  --borderColor-success-emphasis:                            var(--color-ansi-cyan) !important;
  --borderColor-attention-muted:                           #ae7c1466;
  --borderColor-attention-emphasis:                          var(--color-ansi-yellow) !important;
  --borderColor-severe-muted:                              #cc6b2c66;
  --borderColor-severe-emphasis:                             var(--color-ansi-orange) !important;
  --borderColor-danger-muted:                              #e5534b66;
  --borderColor-danger-emphasis:                             var(--color-ansi-red) !important;
  --borderColor-open-muted:                                  var(--color-ansi-blue);
  --borderColor-open-emphasis:                               var(--color-ansi-blue) !important;
  --borderColor-closed-muted:                                var(--color-ansi-red-bright) !important;
  --borderColor-closed-emphasis:                             var(--color-ansi-red-bright) !important;
  --borderColor-done-muted:                                  var(--color-accent) !important;
  --borderColor-done-emphasis:                               var(--color-accent) !important;
  --borderColor-upsell-muted:                                var(--color-accent) !important;
  --borderColor-upsell-emphasis:                             var(--color-accent) !important;
  --borderColor-sponsors-muted:                              var(--color-accent-bright) !important;
  --borderColor-sponsors-emphasis:                           var(--color-accent-bright) !important;

  --button-default-fgColor-rest:                             var(--color-fg-default) !important;
  --button-default-bgColor-rest:                             var(--color-bg1-default) !important;
  --button-default-bgColor-hover:                            var(--color-bg2-default) !important;
  --button-default-bgColor-active:                           var(--color-bg2-default) !important;
  --button-default-bgColor-selected:                         var(--color-bg3-default) !important;
  --button-default-bgColor-disabled:                       #373e47b3;
  --button-default-borderColor-rest:                         var(--color-bg3-default) !important;
  --button-default-borderColor-hover:                        var(--color-bg3-default) !important;
  --button-default-borderColor-active:                       var(--color-bg3-default) !important;
  --button-default-borderColor-disabled:                   #373e47b3;
  --button-default-shadow-resting:                           0px 0px 0px 0px #000000;
  --button-primary-fgColor-rest:                             var(--color-fg-default) !important;
  --button-primary-fgColor-disabled:                         var(--color-bg3-default) !important;
  --button-primary-iconColor-rest:                           var(--color-fg-default) !important;
  --button-primary-bgColor-rest:                             var(--color-accent-default) !important;
  --button-primary-bgColor-hover:                            var(--color-ansi-magenta-bright) !important;
  --button-primary-bgColor-active:                           var(--color-ansi-magenta-bright) !important;
  --button-primary-bgColor-disabled:                         var(--color-accent-default) !important;
  --button-primary-borderColor-rest:                         var(--color-fg-default) !important;
  --button-primary-borderColor-hover:                        var(--color-fg-default) !important;
  --button-primary-borderColor-active:                       var(--color-fg-default) !important;
  --button-primary-borderColor-disabled:                     var(--color-accent-default) !important;
  --button-primary-shadow-selected:                          0px 0px 0px 0px #000000;
  --button-invisible-fgColor-rest:                           var(--color-fg-default) !important;
  --button-invisible-fgColor-hover:                          var(--color-fg-default) !important;
  --button-invisible-fgColor-disabled:                       var(--color-fg3-default) !important;
  --button-invisible-iconColor-rest:                         var(--color-fg-default) !important;
  --button-invisible-iconColor-hover:                        var(--color-fg-default) !important;
  --button-invisible-iconColor-disabled:                     var(--color-fg3-default) !important;
  --button-invisible-bgColor-rest:                         #00000000;
  --button-invisible-bgColor-hover:                          var(--color-bg2-default) !important;
  --button-invisible-bgColor-active:                         var(--color-bg3-default) !important;
  --button-invisible-bgColor-disabled:                       var(--color-bg3-default) !important;
  --button-invisible-borderColor-rest:                     #00000000;
  --button-invisible-borderColor-hover:                    #00000000;
  --button-invisible-borderColor-disabled:                   var(--color-bg3-default) !important;
  --button-outline-fgColor-rest:                             var(--color-fg-default) !important;
  --button-outline-fgColor-hover:                            var(--color-fg-default) !important;
  --button-outline-fgColor-active:                           var(--color-fg-default) !important;
  --button-outline-fgColor-disabled:                         var(--color-fg3-default) !important;
  --button-outline-bgColor-rest:                             var(--color-bg2-default) !important;
  --button-outline-bgColor-hover:                            var(--color-bg3-default) !important;
  --button-outline-bgColor-active:                           var(--color-bg3-default) !important;
  --button-outline-bgColor-disabled:                         var(--color-bg-default) !important;
  --button-outline-borderColor-hover:                        var(--color-bg2-default) !important;
  --button-outline-borderColor-selected:                     var(--color-bg3-default) !important;
  --button-outline-shadow-selected:                          0px 0px 0px 0px #000000;
  --button-danger-fgColor-rest:                              var(--color-ansi-red) !important;
  --button-danger-fgColor-hover:                             var(--color-fg-default) !important;
  --button-danger-fgColor-active:                            var(--color-fg-default) !important;
  --button-danger-fgColor-disabled:                          #e5534b80;
  --button-danger-iconColor-rest:                            var(--color-ansi-red) !important;
  --button-danger-iconColor-hover:                           var(--color-fg-default) !important;
  --button-danger-bgColor-rest:                              var(--color-ansi-red) !important;
  --button-danger-bgColor-hover:                             var(--color-ansi-red) !important;
  --button-danger-bgColor-active:                            var(--color-ansi-red-bright) !important;
  --button-danger-bgColor-disabled:                          #373e47b3;
  --button-danger-borderColor-rest:                          #444c56;
  --button-danger-borderColor-hover:                         var(--color-fg-default) !important;
  --button-danger-borderColor-active:                        var(--color-fg-default) !important;
  --button-danger-shadow-selected:                           0px 0px 0px 0px #000000;
  --button-inactive-fgColor:                                 var(--color-fg-default) !important;
  --button-inactive-bgColor:                                 var(--color-bg3-default) !important;
  --button-star-iconColor:                                   var(--color-ansi-yellow) !important;

  --buttonCounter-default-bgColor-rest:                      #444c56;
  --buttonCounter-invisible-bgColor-rest:                    #444c56;
  --buttonCounter-primary-bgColor-rest:                      #11341733;
  --buttonCounter-outline-bgColor-rest:                      #0f2d5c33;
  --buttonCounter-outline-bgColor-hover:                     #0f2d5c33;
  --buttonCounter-outline-bgColor-disabled:                  #316dca0d;
  --buttonCounter-outline-fgColor-rest:                      #4184e4;
  --buttonCounter-outline-fgColor-hover:                     #539bf5;
  --buttonCounter-outline-fgColor-disabled:                  #478be680;
  --buttonCounter-danger-bgColor-hover:                      #cdd9e533;
  --buttonCounter-danger-bgColor-disabled:                   #c93c370d;
  --buttonCounter-danger-bgColor-rest:                       #5d0f1233;
  --buttonCounter-danger-fgColor-rest:                       #e5534b;
  --buttonCounter-danger-fgColor-hover:                      #cdd9e5;
  --buttonCounter-danger-fgColor-disabled:                   #e5534b80;

  --codeMirror-fgColor:                                      var(--color-fg-default) !important;
  --codeMirror-bgColor:                                      var(--color-bg-default);
  --codeMirror-gutters-bgColor:                              var(--color-bg-default) !important;
  --codeMirror-gutterMarker-fgColor-default:                 #22272e;
  --codeMirror-gutterMarker-fgColor-muted:                   #778491;
  --codeMirror-lineNumber-fgColor:                           #778491;
  --codeMirror-cursor-fgColor:                               var(--color-fg-default) !important;
  --codeMirror-selection-bgColor:                            #4184e466;
  --codeMirror-activeline-bgColor:                           #636e7b66;
  --codeMirror-matchingBracket-fgColor:                      var(--color-fg-default)    !important;
  --codeMirror-lines-bgColor:                                var(--color-bg-default)    !important;
  --codeMirror-syntax-fgColor-comment:                       var(--color-gray-default)  !important;
  --codeMirror-syntax-fgColor-constant:                      var(--color-ansi-red)      !important;
  --codeMirror-syntax-fgColor-entity:                        var(--color-ansi-blue)     !important;
  --codeMirror-syntax-fgColor-keyword:                       var(--color-accent)        !important;
  --codeMirror-syntax-fgColor-storage:                       var(--color-accent)        !important;
  --codeMirror-syntax-fgColor-string:                        var(--color-ansi-cyan)     !important;
  --codeMirror-syntax-fgColor-support:                       var(--color-ansi-yellow)   !important;
  --codeMirror-syntax-fgColor-variable:                      var(--color-ansi-orange)   !important;

  /*==========COLORS==========*/
  --color-prettylights-syntax-comment:                       var(--color-ansi-gray)     !important;
  --color-prettylights-syntax-constant:                      var(--color-accent)        !important;
  --color-prettylights-syntax-constant-other-reference-link: var(--color-accent-bright) !important;
  --color-prettylights-syntax-entity:                        #dcbdfb                    !important;
  --color-prettylights-syntax-storage-modifier-import:       #adbac7                    !important;
  --color-prettylights-syntax-entity-tag:                    var(--color-ansi-cyan)     !important;
  --color-prettylights-syntax-keyword:                       var(--color-accent)        !important;
  --color-prettylights-syntax-string:                        var(--color-ansi-green)    !important;
  --color-prettylights-syntax-variable:                      var(--color-accent-bright) !important;
  --color-prettylights-syntax-brackethighlighter-unmatched:  #e5534b                  !important;
  --color-prettylights-syntax-brackethighlighter-angle:      #768390                  !important;
  --color-prettylights-syntax-invalid-illegal-text:          #cdd9e5                  !important;
  --color-prettylights-syntax-invalid-illegal-bg:            #922323                  !important;
  --color-prettylights-syntax-carriage-return-text:          #cdd9e5                  !important;
  --color-prettylights-syntax-carriage-return-bg:            #ad2e2c                  !important;
  --color-prettylights-syntax-string-regexp:                 var(--color-ansi-cyan)     !important;
  --color-prettylights-syntax-markup-list:                   #eac55f                  !important;
  --color-prettylights-syntax-markup-heading:                #316dca                  !important;
  --color-prettylights-syntax-markup-italic:                 #adbac7                  !important;
  --color-prettylights-syntax-markup-bold:                   #adbac7                  !important;
  --color-prettylights-syntax-markup-deleted-text:           #ffd8d3                  !important;
  --color-prettylights-syntax-markup-deleted-bg:             #78191b                  !important;
  --color-prettylights-syntax-markup-inserted-text:          #b4f1b4                  !important;
  --color-prettylights-syntax-markup-inserted-bg:            #1b4721                  !important;
  --color-prettylights-syntax-markup-changed-text:           #ffddb0                  !important;
  --color-prettylights-syntax-markup-changed-bg:             #682d0f                  !important;
  --color-prettylights-syntax-markup-ignored-text:           #adbac7                  !important;
  --color-prettylights-syntax-markup-ignored-bg:             #255ab2                  !important;
  --color-prettylights-syntax-meta-diff-range:               #dcbdfb                  !important;
  --color-prettylights-syntax-sublimelinter-gutter-mark:     #545d68                  !important;

  --color-workflow-card-bg:                                  var(--bgColor-muted, var(--color-scale-gray-7))     !important;
  --color-workflow-card-header-shadow:                       rgba(27, 31, 35, 0.04)                            !important;

  --color-bg-discussions-row-emoji-box:                      #57606a                                           !important;

  --color-notifications-row-read-bg:                         var(--bgColor-default, var(--color-canvas-default)) !important;
  --color-notifications-row-bg:                              var(--bgColor-muted, var(--color-canvas-subtle))    !important;

  --color-calendar-halloween-graph-day-L1-bg:                #5A2E5C                                           !important;
  --color-calendar-halloween-graph-day-L2-bg:                #824171                                           !important;
  --color-calendar-halloween-graph-day-L3-bg:                var(--color-magenta-default)                        !important;
  --color-calendar-halloween-graph-day-L4-bg:                var(--color-magenta-bright-default)                 !important;

  --color-calendar-winter-graph-day-L1-bg:                   #5a2e5c !important;
  --color-calendar-winter-graph-day-L2-bg:                   #824171 !important;
  --color-calendar-winter-graph-day-L3-bg:                   var(--color-magenta-default) !important;
  --color-calendar-winter-graph-day-L4-bg:                   var(--color-magenta-bright-default) !important;

  --color-calendar-graph-day-bg:                             #161b22 !important;
  --color-calendar-graph-day-border:                         rgba(27, 31, 35, 0.06) !important;
  --color-calendar-graph-day-L1-bg:                          #5A2E5C !important;
  --color-calendar-graph-day-L2-bg:                          #824171 !important;
  --color-calendar-graph-day-L3-bg:                          var(--color-accent) !important;
  --color-calendar-graph-day-L4-bg:                          var(--color-accent-bright) !important;
  --color-calendar-graph-day-L1-border:                      transparent !important;
  --color-calendar-graph-day-L2-border:                      transparent !important;
  --color-calendar-graph-day-L3-border:                      transparent !important;
  --color-calendar-graph-day-L4-border:                      transparent !important;

  --color-user-mention-fg:                                   var(--fgColor-attention, var(--color-scale-yellow-0)) !important;

  --color-mktg-btn-shadow-outline:                           rgba(255, 255, 255, 0.25) 0 0 0 1px inset  !important;

  --color-marketing-icon-primary:                            var(--color-magenta-default) !important;
  --color-marketing-icon-secondary:                          var(--color-magenta-bright-default) !important;

  --color-project-header-bg:                                 #0d1117 !important;
  --color-project-sidebar-bg:                                #161b22 !important;
  --color-project-gradient-in:                               #161b22 !important;
  --color-project-gradient-out:                              rgba(22, 27, 34, 0) !important;

  --color-diff-blob-selected-line-highlight-mix-blend-mode:  screen !important;

  --color-text-white:                                        var(--color-fg-default) !important;

  /*==========CONTROL==========*/
  --control-bgColor-rest:                                    #373e47;
  --control-bgColor-hover:                                   #3d444e;
  --control-bgColor-active:                                  #434a54;
  --control-bgColor-disabled:                                #373e47b3;
  --control-bgColor-selected:                                #2d333b;
  --control-fgColor-rest:                                    #adbac7;
  --control-fgColor-placeholder:                             #545d68;
  --control-fgColor-disabled:                                #636e7b;
  --control-borderColor-rest:                                #444c56;
  --control-borderColor-emphasis:                            #606b77;
  --control-borderColor-disabled:                            #373e47b3;
  --control-borderColor-selected:                            #cdd9e5;
  --control-borderColor-success:                             #347d39;
  --control-borderColor-danger:                              #c93c37;
  --control-borderColor-warning:                             #966600;
  --control-iconColor-rest:                                  #778491;
  --control-transparent-bgColor-rest:                        #00000000;
  --control-transparent-bgColor-hover:                       #909dab1f;
  --control-transparent-bgColor-active:                      #909dab33;
  --control-transparent-bgColor-disabled:                    #373e47b3;
  --control-transparent-bgColor-selected:                    #909dab14;
  --control-transparent-borderColor-rest:                    #00000000;
  --control-transparent-borderColor-hover:                   #00000000;
  --control-transparent-borderColor-active:                  #00000000;
  --control-danger-fgColor-rest:                             #e5534b;
  --control-danger-fgColor-hover:                            #f47067;
  --control-danger-bgColor-hover:                            #e5534b1a;
  --control-danger-bgColor-active:                           #e5534b66;
  --control-checked-bgColor-rest:                            #316dca;
  --control-checked-bgColor-hover:                           #3876d3;
  --control-checked-bgColor-active:                          #3f7fdb;
  --control-checked-bgColor-disabled:                        #636e7b;
  --control-checked-fgColor-rest:                            #cdd9e5;
  --control-checked-fgColor-disabled:                        #1c2128;
  --control-checked-borderColor-rest:                        #316dca;
  --control-checked-borderColor-hover:                       #3876d3;
  --control-checked-borderColor-active:                      #3f7fdb;
  --control-checked-borderColor-disabled:                    #636e7b;

  --controlTrack-bgColor-rest:                               #373e47;
  --controlTrack-bgColor-hover:                              #3d444e;
  --controlTrack-bgColor-active:                             #434a54;
  --controlTrack-bgColor-disabled:                           #636e7b;
  --controlTrack-fgColor-rest:                               #778491;
  --controlTrack-fgColor-disabled:                           #cdd9e5;
  --controlTrack-borderColor-rest:                           #00000000;
  --controlTrack-borderColor-disabled:                       #636e7b;

  --controlKnob-bgColor-rest:                                #1c2128;
  --controlKnob-bgColor-disabled:                            #373e47b3;
  --controlKnob-bgColor-checked:                             #cdd9e5;
  --controlKnob-borderColor-rest:                            #606b77;
  --controlKnob-borderColor-disabled:                        #373e47b3;
  --controlKnob-borderColor-checked:                         #316dca;

  /*==========COLORS==========*/
  --counter-borderColor:                                     #00000000;

  --topicTag-borderColor:                                    #00000000;
  --highlight-neutral-bgColor:                               #c6902666;
  --page-header-bgColor:                                     #22272e;

  /*==========DATA==========*/
  --data-blue-color:                                         #0576ff;
  --data-blue-color-muted:                                   #001a47;
  --data-auburn-color:                                       #a86f6b;
  --data-auburn-color-muted:                                 #271817;
  --data-orange-color:                                       #984b10;
  --data-orange-color-muted:                                 #311708;
  --data-yellow-color:                                       #895906;
  --data-yellow-color-muted:                                 #2e1a00;
  --data-green-color:                                        #2f6f37;
  --data-green-color-muted:                                  #122117;
  --data-teal-color:                                         #106c70;
  --data-teal-color-muted:                                   #041f25;
  --data-purple-color:                                       #975bf1;
  --data-purple-color-muted:                                 #211047;
  --data-pink-color:                                         #d34591;
  --data-pink-color-muted:                                   #2d1524;
  --data-red-color:                                          #eb3342;
  --data-red-color-muted:                                    #3c0614;
  --data-gray-color:                                         #576270;
  --data-gray-color-muted:                                   #1c1c1c;

  /*==========DISPLAY==========*/
  --display-blue-bgColor-muted:                              #001a47;
  --display-blue-bgColor-emphasis:                           #0576ff;
  --display-blue-fgColor:                                    #4da0ff;
  --display-blue-borderColor-muted:                          #002766;
  --display-blue-borderColor-emphasis:                         #0576ff;
  --display-green-bgColor-muted:                             #122117;
  --display-green-bgColor-emphasis:                          #388f3f;
  --display-green-fgColor:                                   #41b445;
  --display-green-borderColor-muted:                         #182f1f;
  --display-green-borderColor-emphasis:                      #388f3f;
  --display-orange-bgColor-muted:                            #311708;
  --display-orange-bgColor-emphasis:                         #c46212;
  --display-orange-fgColor:                                  #ed8326;
  --display-orange-borderColor-muted:                        #43200a;
  --display-orange-borderColor-emphasis:                     #c46212;
  --display-purple-bgColor-muted:                            #211047;
  --display-purple-bgColor-emphasis:                         #975bf1;
  --display-purple-fgColor:                                  #b687f7;
  --display-purple-borderColor-muted:                        #31146b;
  --display-purple-borderColor-emphasis:                     #975bf1;
  --display-plum-bgColor-muted:                              #2a0e3f;
  --display-plum-bgColor-emphasis:                           #b643ef;
  --display-plum-fgColor:                                    #d07ef7;
  --display-plum-borderColor-muted:                          #40125e;
  --display-plum-borderColor-emphasis:                       #b643ef;
  --display-red-bgColor-muted:                               #3c0614;
  --display-red-bgColor-emphasis:                            #eb3342;
  --display-red-fgColor:                                     #f27d83;
  --display-red-borderColor-muted:                           #58091a;
  --display-red-borderColor-emphasis:                        #eb3342;
  --display-coral-bgColor-muted:                             #3c0614;
  --display-coral-bgColor-emphasis:                          #eb3342;
  --display-coral-fgColor:                                   #f27d83;
  --display-coral-borderColor-muted:                         #58091a;
  --display-coral-borderColor-emphasis:                      #eb3342;
  --display-yellow-bgColor-muted:                            #2e1a00;
  --display-yellow-bgColor-emphasis:                         #aa7109;
  --display-yellow-fgColor:                                  #d3910d;
  --display-yellow-borderColor-muted:                        #3d2401;
  --display-yellow-borderColor-emphasis:                     #aa7109;
  --display-gray-bgColor-muted:                              #1c1c1c;
  --display-gray-bgColor-emphasis:                           #6e7f96;
  --display-gray-fgColor:                                    #92a1b5;
  --display-gray-borderColor-muted:                          #2a2b2d;
  --display-gray-borderColor-emphasis:                       #6e7f96;
  --display-auburn-bgColor-muted:                            #271817;
  --display-auburn-bgColor-emphasis:                         #a86f6b;
  --display-auburn-fgColor:                                  #bf9592;
  --display-auburn-borderColor-muted:                        #3a2422;
  --display-auburn-borderColor-emphasis:                     #a86f6b;
  --display-brown-bgColor-muted:                             #241c14;
  --display-brown-bgColor-emphasis:                          #94774c;
  --display-brown-fgColor:                                   #b69a6d;
  --display-brown-borderColor-muted:                         #342a1d;
  --display-brown-borderColor-emphasis:                      #94774c;
  --display-lemon-bgColor-muted:                             #291d00;
  --display-lemon-bgColor-emphasis:                          #977b0c;
  --display-lemon-fgColor:                                   #ba9b12;
  --display-lemon-borderColor-muted:                         #372901;
  --display-lemon-borderColor-emphasis:                      #977b0c;
  --display-olive-bgColor-muted:                             #171e0b;
  --display-olive-bgColor-emphasis:                          #7a8321;
  --display-olive-fgColor:                                   #a2a626;
  --display-olive-borderColor-muted:                         #252d10;
  --display-olive-borderColor-emphasis:                      #7a8321;
  --display-lime-bgColor-muted:                              #141f0f;
  --display-lime-bgColor-emphasis:                           #5f892f;
  --display-lime-fgColor:                                    #7dae37;
  --display-lime-borderColor-muted:                          #1f3116;
  --display-lime-borderColor-emphasis:                       #5f892f;
  --display-pine-bgColor-muted:                              #082119;
  --display-pine-bgColor-emphasis:                           #18915e;
  --display-pine-fgColor:                                    #1bb673;
  --display-pine-borderColor-muted:                          #0b3224;
  --display-pine-borderColor-emphasis:                       #18915e;
  --display-teal-bgColor-muted:                              #041f25;
  --display-teal-bgColor-emphasis:                           #158a8a;
  --display-teal-fgColor:                                    #1cb0ab;
  --display-teal-borderColor-muted:                          #073036;
  --display-teal-borderColor-emphasis:                       #158a8a;
  --display-cyan-bgColor-muted:                              #001f29;
  --display-cyan-bgColor-emphasis:                           #0587b3;
  --display-cyan-fgColor:                                    #07ace4;
  --display-cyan-borderColor-muted:                          #002e3d;
  --display-cyan-borderColor-emphasis:                       #0587b3;
  --display-indigo-bgColor-muted:                            #1b183f;
  --display-indigo-bgColor-emphasis:                         #7070e1;
  --display-indigo-fgColor:                                  #9899ec;
  --display-indigo-borderColor-muted:                        #25215f;
  --display-indigo-borderColor-emphasis:                     #7070e1;
  --display-pink-bgColor-muted:                              #2d1524;
  --display-pink-bgColor-emphasis:                           #d34591;
  --display-pink-fgColor:                                    #e57bb2;
  --display-pink-borderColor-muted:                          #451c35;
  --display-pink-borderColor-emphasis:                       #d34591;

  --diffBlob-addition-fgColor-text:                          var(--color-fg-default) !important;
  --diffBlob-addition-fgColor-num:                           var(--color-fg-default) !important;
  --diffBlob-addition-bgColor-num:                           #57ab5a4d;
  --diffBlob-addition-bgColor-line:                          #46954a26;
  --diffBlob-addition-bgColor-word:                          #46954a66;
  --diffBlob-deletion-fgColor-text:                          #c5d1de;
  --diffBlob-deletion-fgColor-num:                           #c5d1de;
  --diffBlob-deletion-bgColor-num:                           #e5534b4d;
  --diffBlob-deletion-bgColor-line:                          #e5534b26;
  --diffBlob-deletion-bgColor-word:                          #e5534b66;
  --diffBlob-hunk-bgColor-num:                               #4184e466;
  --diffBlob-expander-iconColor:                             #c5d1de;

  

  /*==========COLORS==========*/
  --header-fgColor-default:                                  #cdd9e5b3;
  --header-fgColor-logo:                                     #cdd9e5;
  --header-bgColor:                                          #2d333bf2;
  --header-borderColor-divider:                              #768390;

  --headerSearch-bgColor:                                    #22272e;
  --headerSearch-borderColor:                                #444c56;


  /*==========COLORS==========*/
  --reactionButton-selected-bgColor-rest:                    #4184e433;
  --reactionButton-selected-bgColor-hover:                   #4285e55c;
  --reactionButton-selected-fgColor-rest:                    #478be6;
  --reactionButton-selected-fgColor-hover:                   #6cb6ff;

  --focus-outlineColor:                                      #316dca;
  --menu-bgColor-active:                                     #2d333b;
  --overlay-bgColor:                                         #2d333b;
  --overlay-borderColor:                                     #444c56b3;
  --overlay-backdrop-bgColor:                                #2d333b66;
  --selectMenu-borderColor:                                  #545d68;
  --selectMenu-bgColor-active:                               #143d79;
  --sideNav-bgColor-selected:                                #373e47;
  --skeletonLoader-bgColor:                                  #2d333b;
  --timelineBadge-bgColor:                                   #373e47;
  --treeViewItem-leadingVisual-iconColor-rest:               #778491;
  --underlineNav-borderColor-active:                         #ec775c;
  --underlineNav-borderColor-hover:                          #636e7b66;
  --underlineNav-iconColor-rest:                             #778491;
  --selection-bgColor:                                       #316dcab3;
  --card-bgColor:                                            #2d333b;

  /*======LABEL======*/
  --label-green-bgColor-rest:                                #122117;
  --label-green-bgColor-hover:                               #182f1f;
  --label-green-bgColor-active:                              #214529;
  --label-green-fgColor-rest:                                #41b445;
  --label-green-fgColor-hover:                               #46c144;
  --label-green-fgColor-active:                              #75d36f;
  --label-orange-bgColor-rest:                               #311708;
  --label-orange-bgColor-hover:                              #43200a;
  --label-orange-bgColor-active:                             #632f0d;
  --label-orange-fgColor-rest:                               #ed8326;
  --label-orange-fgColor-hover:                              #f1933b;
  --label-orange-fgColor-active:                             #f6b06a;
  --label-purple-bgColor-rest:                               #211047;
  --label-purple-bgColor-hover:                              #31146b;
  --label-purple-bgColor-active:                             #481a9e;
  --label-purple-fgColor-rest:                               #b687f7;
  --label-purple-fgColor-hover:                              #c398fb;
  --label-purple-fgColor-active:                             #d2affd;
  --label-red-bgColor-rest:                                  #3c0614;
  --label-red-bgColor-hover:                                 #58091a;
  --label-red-bgColor-active:                                #790c20;
  --label-red-fgColor-rest:                                  #f27d83;
  --label-red-fgColor-hover:                                 #f48b8d;
  --label-red-fgColor-active:                                #f7adab;
  --label-yellow-bgColor-rest:                               #2e1a00;
  --label-yellow-bgColor-hover:                              #3d2401;
  --label-yellow-bgColor-active:                             #5a3702;
  --label-yellow-fgColor-rest:                               #d3910d;
  --label-yellow-fgColor-hover:                              #df9e11;
  --label-yellow-fgColor-active:                             #edb431;
  --label-gray-bgColor-rest:                                 #1c1c1c;
  --label-gray-bgColor-hover:                                #2a2b2d;
  --label-gray-bgColor-active:                               #393d41;
  --label-gray-fgColor-rest:                                 #92a1b5;
  --label-gray-fgColor-hover:                                #9babbf;
  --label-gray-fgColor-active:                               #b3c0d1;
  --label-auburn-bgColor-rest:                               #271817;
  --label-auburn-bgColor-hover:                              #3a2422;
  --label-auburn-bgColor-active:                             #543331;
  --label-auburn-fgColor-rest:                               #bf9592;
  --label-auburn-fgColor-hover:                              #c6a19f;
  --label-auburn-fgColor-active:                             #d4b7b5;
  --label-brown-bgColor-rest:                                #241c14;
  --label-brown-bgColor-hover:                               #342a1d;
  --label-brown-bgColor-active:                              #483a28;
  --label-brown-fgColor-rest:                                #b69a6d;
  --label-brown-fgColor-hover:                               #bfa77d;
  --label-brown-fgColor-active:                              #cdbb98;
  --label-lemon-bgColor-rest:                                #291d00;
  --label-lemon-bgColor-hover:                               #372901;
  --label-lemon-bgColor-active:                              #4f3c02;
  --label-lemon-fgColor-rest:                                #ba9b12;
  --label-lemon-fgColor-hover:                               #c4a717;
  --label-lemon-fgColor-active:                              #d7bc1d;
  --label-olive-bgColor-rest:                                #171e0b;
  --label-olive-bgColor-hover:                               #252d10;
  --label-olive-bgColor-active:                              #374115;
  --label-olive-fgColor-rest:                                #a2a626;
  --label-olive-fgColor-hover:                               #b2af24;
  --label-olive-fgColor-active:                              #cbc025;
  --label-lime-bgColor-rest:                                 #141f0f;
  --label-lime-bgColor-hover:                                #1f3116;
  --label-lime-bgColor-active:                               #2c441d;
  --label-lime-fgColor-rest:                                 #7dae37;
  --label-lime-fgColor-hover:                                #89ba36;
  --label-lime-fgColor-active:                               #9fcc3e;
  --label-pine-bgColor-rest:                                 #082119;
  --label-pine-bgColor-hover:                                #0b3224;
  --label-pine-bgColor-active:                               #0e4430;
  --label-pine-fgColor-rest:                                 #1bb673;
  --label-pine-fgColor-hover:                                #1ac176;
  --label-pine-fgColor-active:                               #1bda81;
  --label-teal-bgColor-rest:                                 #041f25;
  --label-teal-bgColor-hover:                                #073036;
  --label-teal-bgColor-active:                               #0a464d;
  --label-teal-fgColor-rest:                                 #1cb0ab;
  --label-teal-fgColor-hover:                                #1fbdb2;
  --label-teal-fgColor-active:                               #24d6c4;
  --label-cyan-bgColor-rest:                                 #001f29;
  --label-cyan-bgColor-hover:                                #002e3d;
  --label-cyan-bgColor-active:                               #014156;
  --label-cyan-fgColor-rest:                                 #07ace4;
  --label-cyan-fgColor-hover:                                #09b7f1;
  --label-cyan-fgColor-active:                               #45cbf7;
  --label-indigo-bgColor-rest:                               #1b183f;
  --label-indigo-bgColor-hover:                              #25215f;
  --label-indigo-bgColor-active:                             #312c90;
  --label-indigo-fgColor-rest:                               #9899ec;
  --label-indigo-fgColor-hover:                              #a2a5f1;
  --label-indigo-fgColor-active:                             #b7baf6;
  --label-blue-bgColor-rest:                                 #001a47;
  --label-blue-bgColor-hover:                                #002766;
  --label-blue-bgColor-active:                               #00378a;
  --label-blue-fgColor-rest:                                 #4da0ff;
  --label-blue-fgColor-hover:                                #61adff;
  --label-blue-fgColor-active:                               #85c2ff;
  --label-plum-bgColor-rest:                                 #2a0e3f;
  --label-plum-bgColor-hover:                                #40125e;
  --label-plum-bgColor-active:                               #5c1688;
  --label-plum-fgColor-rest:                                 #d07ef7;
  --label-plum-fgColor-hover:                                #d889fa;
  --label-plum-fgColor-active:                               #e4a5fd;
  --label-pink-bgColor-rest:                                 #2d1524;
  --label-pink-bgColor-hover:                                #451c35;
  --label-pink-bgColor-active:                               #65244a;
  --label-pink-fgColor-rest:                                 #e57bb2;
  --label-pink-fgColor-hover:                                #ec8dbd;
  --label-pink-fgColor-active:                               #f4a9cd;
  --label-coral-bgColor-rest:                                #351008;
  --label-coral-bgColor-hover:                               #51180b;
  --label-coral-bgColor-active:                              #72220d;
  --label-coral-fgColor-rest:                                #f7794b;
  --label-coral-fgColor-hover:                               #fa8c61;
  --label-coral-fgColor-active:                              #fdaa86;

  --in-content-page-background:                              rgb(29, 29, 29) !important;
  --in-content-page-color:                                   rgb(253, 253, 253) !important;
  --in-content-box-background:                               rgb(36, 36, 36) !important;
  --in-content-box-background-odd:                           rgba(250, 250, 250, 0.05) !important;
  --in-content-box-info-background:                          rgba(250, 250, 250, 0.15) !important;
  --in-content-border-color:                                 rgba(250, 250, 250, 0.2) !important;
  --in-content-border-hover:                                 rgba(250, 250, 250, 0.3) !important;
  --in-content-icon-color:                                   rgb(252, 252, 252) !important;
  --in-content-primary-button-text-color:                    rgb(255, 255, 255) !important;
  --in-content-primary-button-background:                    var(--theme-primary-color) !important;
  --in-content-primary-button-background-hover:              var(--theme-primary-hover-color) !important;
  --in-content-primary-button-background-active:             var(--theme-primary-active-color) !important;
  --in-content-table-background:                             rgb(35, 35, 35) !important;
  --newtab-background-color:                                 var(--gnome-browser-before-load-background) !important;
  --newtab-background-color-secondary:                       var(--gnome-menu-background) !important;
  --newtab-primary-action-background:                        var(--theme-primary-color) !important;

  --gnome-browser-before-load-background:                    #1d2021;
  --gnome-browser-content-box-background:                    #282828;
  --theme-primary-color:                                     #689d6a;
  --theme-primary-hover-color:                               #8ec07c;
  --theme-primary-active-color:                              #8ec07c;
  --gnome-toolbar-background:                                #1d2021;
  --gnome-tabstoolbar-background:                            #1e1e1e;
  --gnome-findbar-background:                                #282828;
  --gnome-toolbar-color:                                     #ebdbb2;
  --gnome-toolbar-border-color:                              #070707;
  --gnome-inactive-toolbar-background:                       #1d2021;
  --gnome-inactive-toolbar-border-color:                     #1d2021;
  --gnome-sidebar-background:                                #3b3b3b;
  --gnome-inactive-sidebar-background:                       #3f3f3f;
  --gnome-menu-background:                                   #1d2021;
  --gnome-menu-border-color:                                 #070707;
  --gnome-popover-background:                                rgba(51, 51, 51, 0.95);
  --gnome-popover-border-color:                              #070707;
  --gnome-popover-shadow:                                    0 5px 8px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.75);
  --gnome-popover-button-hover-background:                   rgba(255, 255, 255, 0.1);
  --gnome-popover-button-active-background:                  rgba(255, 255, 255, 0.15);
  --gnome-popover-separator-color:                           rgba(255, 255, 255, 0.08);
  --gnome-headerbar-background:                              #1d2021;
  --gnome-headerbar-border-color:                            #1d2021;
  --gnome-headerbar-box-shadow: inset 0 1px                  #ebdbb2;
  --gnome-inactive-headerbar-background:                     #1d2021;
  --gnome-inactive-headerbar-border-color:                   #1d2021;
  --gnome-inactive-headerbar-box-shadow:                     inset 0 1px rgba(255, 255, 255, 0.08);
  --gnome-button-background:                                 #282828;
  --gnome-button-border-color:                               #282828;
  --gnome-button-border-accent-color:                        #282828;
  --gnome-button-box-shadow:                                 inset 0 1px rgba(255, 255, 255, 0.1);
  --gnome-button-hover-color:                                #ebdbb2;
  --gnome-button-active-color:                               rgba(255, 255, 255, 0.2);
  --gnome-button-hover-background:                           #282828;
  --gnome-button-active-background:                          #282828;
  --gnome-button-active-border-color:                        #1b1b1b;
  --gnome-button-active-border-accent-color:                 #1b1b1b;
  --gnome-button-active-box-shadow:                          inset 0 1px rgba(255, 255, 255, 0.1);
  --gnome-button-disabled-background:                        linear-gradient(to top, #434343 0%, #494949 100%);
  --gnome-button-disabled-border-color:                      #282828;
  --gnome-button-disabled-box-shadow:                        inset 0 1px rgba(255, 255, 255, 0.03);
  --gnome-inactive-button-background:                        linear-gradient(#383838, #383838);
  --gnome-inactive-button-border-color:                        #323232;
  --gnome-inactive-button-box-shadow:                          inset 0 1px rgba(255, 255, 255, 0.0);
  --gnome-button-suggested-action-background:                #689d6a;
  --gnome-button-suggested-action-border-color: #689d6a;
  --gnome-button-suggested-action-border-accent-color: #689d6a;
  --gnome-button-suggested-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.08);
  --gnome-button-suggested-action-hover-background: #8ec07c;
  --gnome-button-suggested-action-active-background: #8ec07c;
  --gnome-button-suggested-action-active-border-color: #8ec07c;
  --gnome-button-suggested-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0.05);
  --gnome-button-destructive-action-background: #cc241d;
  --gnome-button-destructive-action-border-color: #cc241d;
  --gnome-button-destructive-action-border-accent-color: #fb4934;
  --gnome-button-destructive-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
  --gnome-button-destructive-action-hover-background: #cc241d;
  --gnome-button-destructive-action-active-background: #fb4934;
  --gnome-button-destructive-action-active-border-color: #fb4934;
  --gnome-button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
  --gnome-headerbar-button-hover-background: rgba(255, 255, 255, 0.1);
  --gnome-headerbar-button-active-background: rgba(255, 255, 255, 0.15);
  --gnome-urlbar-background: #282828;
  --gnome-urlbar-border-color: #1d2021;
  --gnome-urlbar-box-shadow: 0 3px 6px 1px rgba(0, 0, 0, .2), 0 5px 16px 3px rgba(0, 0, 0, .15), 0 0 0 1px rgba(0, 0, 0, 0.75);
  --gnome-urlbar-color: #ebdbb2;
  --gnome-hover-urlbar-border-color: #689d6a;
  --gnome-inactive-urlbar-background: #282828;
  --gnome-inactive-urlbar-border-color: #1d2021;
  --gnome-inactive-urlbar-box-shadow: none;
  --gnome-inactive-urlbar-color: #ebdbb2;
  --gnome-focused-urlbar-border-color: #689d6a;
  --gnome-focused-urlbar-highlight-color: #8ec07c;
  --gnome-private-urlbar-background: #25003e;
  --gnome-tabbar-tab-background: #282828;
  --gnome-tabbar-tab-color: #ebdbb2;
  --gnome-tabbar-tab-hover-background: #3c3836;
  --gnome-tabbar-tab-hover-border-bottom-color: #1b1b1b;
  --gnome-tabbar-tab-hover-color: #ebdbb2;
  --gnome-tabbar-tab-active-background: #282828;
  --gnome-tabbar-tab-active-border-bottom-color: #689d6a;
  --gnome-tabbar-tab-active-color: #ebdbb2;
  --gnome-tabbar-tab-active-hover-background: #3c3836;
  --gnome-inactive-tabbar-tab-color: #ebdbb2;
  --gnome-inactive-tabbar-tab-background: #282828;
  --gnome-inactive-tabbar-tab-active-background: #3c3836;
  --gnome-inactive-tabbar-tab-active-border-bottom-color: var(--gnome-tabbar-tab-active-border-bottom-color);
  --gnome-inactive-tabbar-tab-active-color: var(--gnome-inactive-tabbar-tab-color);
  --gnome-tab-attention-icon-color: #8ec07c;
  --gnome-switch-background: #1d2021;
  --gnome-switch-hover-background: #282828;
  --gnome-switch-active-background: #3c3836;
  --gnome-switch-border-color: transparent;
  --gnome-switch-slider-background: #ebdbb2;
  --gnome-switch-slider-border-color: transparent;
  --gnome-switch-slider-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
  --gnome-switch-pressed-background: #689d6a;
  --gnome-switch-pressed-hover-background: #689d6a;
  --gnome-switch-pressed-active-background: #8ec97c;
  --gnome-switch-active-border-color: transparent;
  --gnome-switch-active-slider-border-color: transparent;
  --gnome-convert-icon-to-symbolic-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(85%);
  --gnome-icons-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(200%);
  --gnome-window-icons-hack-filter: invert(90%);
  --gnome-private-accent: #689d6a;
  --gnome-private-toolbar-background: var(--gnome-headerbar-background);
  --gnome-private-inactive-toolbar-background: var(--gnome-inactive-headerbar-background);
  --gnome-private-menu-background: #1d2021;
  --gnome-private-headerbar-background: #1d2021;
  --gnome-private-inactive-headerbar-background: var(--gnome-private-toolbar-background);
  --gnome-private-tabbar-tab-hover-background: #1d2021;
  --gnome-private-tabbar-tab-active-background: #282828;
  --gnome-private-tabbar-tab-active-background-contrast: #282828;
  --gnome-private-tabbar-tab-active-hover-background: #414a61;
  --gnome-private-inactive-tabbar-tab-hover-background: #242c3f;
  --gnome-private-inactive-tabbar-tab-active-background: #272e41;
  --gnome-private-wordmark: #ebdbb2;
  --gnome-private-in-content-page-background: #1d2021;
  --gnome-private-text-primary-color: #ebdbb2;
}

* {
  scrollbar-color: var(--color-magenta-default);
}
